# ======================
# Dépendances
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# Builds / Dist
# ======================
dist/
build/
.vite/

# ======================
# Environnements
# ======================
.env
.env.local
.env.development
.env.production

# ======================
# Base de données
# ======================
*.sqlite
*.sqlite3
*.db

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Éditeurs
# ======================
.vscode/
.idea/
*.swp

# ======================
# Tests / Coverage
# ======================
coverage/

# ======================
# Misc
# ======================
.tmp/
.cache/
